<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../sidenav.css">
    <link rel="stylesheet" type="text/css" href="lesson.css">
    <title>Learn 2 Play guitar</title>
</head>

<body>
    <div class="sidenav">
        <div class="main-sidenav">
            <div id="header-title">
                learn 2 play
            </div>

            <div class="search-form">
                <input type="text" class="search-input" placeholder="search songs here...">
                <a href="search-results.html" class="search-btn">search</a>
            </div>

            <hr />

            <div class="lessons">
                <h4>Lessons</h4>

                <a href="./lesson1.html">Lesson 1: Introduction</a>
                <a href="./lesson2.html" class="selected">Lesson 2: The basics</a>
                <a href="./lesson3.html">Lesson 3: Intermediate</a>
                <a href="./lesson4.html">Lesson 4: Finishing up</a>
            </div>
        </div>

        <div class="sidenav-take-test">
            <a href="test.html" class="test-button">
                <h4>Take the test!</h4>
            </a>
        </div>
    </div>

    <div id="other-side">
        <div class="progress rounded-0">
            <div class="progress-bar" role="progressbar" style="width: 50%; background-color: #564d78;"></div>
        </div>
        <main>
            <h1>Lesson 2: The Basics</h1>
            <hr />
            <section>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis in ratione eum assumenda
                    vel, facere natus ad earum numquam rem similique, suscipit facilis at minus optio veritatis veniam?
                    Dignissimos labore sapiente explicabo impedit ipsum doloremque.</p>
            </section>
            <section>
                <h3>
                    Subheading 1
                </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis inventore magni accusantium
                    corporis maiores delectus provident id praesentium repellendus! Quibusdam voluptatibus deleniti
                    sequi neque delectus! Quidem, nostrum nihil. At magnam cumque ipsam quae sint inventore quibusdam,
                    eaque a porro neque magni dignissimos beatae asperiores dolor tenetur quas illum rem eius
                    doloremque. Saepe, unde nobis molestias distinctio explicabo numquam quia assumenda error iste quo,
                    ipsam aspernatur omnis nemo? Odit deserunt quis, neque voluptates voluptatum libero reprehenderit
                    facilis provident nulla totam fugiat magni maxime sequi modi! Fuga deserunt neque recusandae sint,
                    adipisci, dolor nisi vero minus iusto, ducimus dignissimos sunt aliquam iure!</p>
                <img src="../shared/placeholder-image.png">
            </section>
            <section>
                <h3>
                    Subheading 2
                </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis inventore magni accusantium
                    corporis maiores delectus provident id praesentium repellendus! Quibusdam voluptatibus deleniti
                    sequi neque delectus! Quidem, nostrum nihil. At magnam cumque ipsam quae sint inventore quibusdam,
                    eaque a porro neque magni dignissimos beatae asperiores dolor tenetur quas illum rem eius
                    doloremque. Saepe, unde nobis molestias distinctio explicabo numquam quia assumenda error iste quo,
                    ipsam aspernatur omnis nemo?</p>
                <img src="../shared/placeholder-image.png">
            </section>
            <a href="lesson3.html" class="btn btn-light mb-5 submit-btn" style="background-color: #564d78; color: #fdfdfd;">go to next lesson...</a>
        </main>

    </div>

</body>

</html>