<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../sidenav.css">
    <link rel="stylesheet" type="text/css" href="song.css">
    <title>Learn 2 Play guitar</title>
</head>

<body>
    <div class="sidenav">
        <div class="main-sidenav">
            <div id="header-title">
                learn 2 play
            </div>

            <div class="search-form">
                <input type="text" class="search-input" placeholder="search songs here...">
                <a href="search-results.html" class="search-btn">search</a>
            </div>

            <hr />

            <div class="lessons">
                <h4>Lessons</h4>

                <a href="./lesson1.html">Lesson 1: Introduction</a>
                <a href="./lesson2.html">Lesson 2: The basics</a>
                <a href="./lesson3.html">Lesson 3: Intermediate</a>
                <a href="./lesson4.html">Lesson 4: Finishing up</a>
            </div>
        </div>

        <div class="sidenav-take-test">
            <a href="test.html" class="test-button">
                <h4>Take the test!</h4>
            </a>
        </div>
    </div>

    <div id="other-side">
        <main>
            <h2>As It Was by <strong>Harry Styles</strong></h2>
            <div class="song-body" style="white-space:pre-wrap;">
[Intro]

N.C.                    <span>Am</span> <span>D</span> <span>G</span>

Come on Harry, we wanna say "Goodnight" to you

[Verse 1]

<span>C</span>

Holdin' me back

<span>Am</span>

Gravity's holdin' me back

<span>D</span>

I want you to hold out the palm of your hand

<span>G</span>

Why don't we leave it at that?

<span>C</span>

Nothin' to say

<span>Am</span>

And everything gets in the way

<span>C</span>

Seems you cannot be replaced

<span>G</span>

And I'm the one who will stay, oh-oh-oh

[Chorus]

<span>C</span> <span>Am</span> <span>D</span>

In this world, it's just us

<span>G</span> <span>C</span>

You know it's not the same as it was

<span>Am</span> <span>D</span>

In this world, it's just us

<span>G</span> <span>C</span>

You know it's not the same as it was

<span>Am</span> <span>D</span>

As it was, as it was

<span>G</span>

You know it's not the same

[Outro]

<span>Am</span> <span>D</span>

(Hey!)

<span>G</span>

As it was

<span>C</span> <span>Am</span>

You know it's not the same as it was

<span>D</span> <span>C</span>

As it was, as it was


            </div>
        </main>
    </div>

</body>

</html>