<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../sidenav.css">
    <link rel="stylesheet" type="text/css" href="test.css">
    <title>Learn 2 Play guitar</title>
</head>

<body>
    <div class="sidenav">
        <div class="main-sidenav">
            <div id="header-title">
                learn 2 play
            </div>

            <div class="search-form">
                <input type="text" class="search-input" placeholder="search songs here...">
                <a href="search-results.html" class="search-btn">search</a>
            </div>

            <hr />

            <div class="lessons">
                <h4>Lessons</h4>

                <a href="./lesson1.html">Lesson 1: Introduction</a>
                <a href="./lesson2.html">Lesson 2: The basics</a>
                <a href="./lesson3.html">Lesson 3: Intermediate</a>
                <a href="./lesson4.html">Lesson 4: Finishing up</a>
            </div>
        </div>

        <div class="sidenav-take-test">
            <a class="test-button">
                <h4>Take the test!</h4>
            </a>
        </div>
    </div>

    <div id="other-side">

        <main>
            <form>
                <h1>Final Test</h1>

                <div class="question">
                    <label for="s1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, est possimus
                        voluptatibus similique nisi at?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" >
                        <label class="form-check-label" for="exampleRadios1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, commodi!
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                            value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, optio.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                            value="option3" >
                        <label class="form-check-label" for="exampleRadios3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eaque debitis, harum ab
                            nam quibusdam.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4"
                            value="option4">
                        <label class="form-check-label" for="exampleRadios4">
                            Lorem ipsum dolor sit amet consectetur adipisicing.
                        </label>
                    </div>
                </div>

                <div class="question">
                    <label for="s1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis eum nobis
                        doloribus soluta porro a totam, deserunt odio expedita sint!</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="2exampleRadios" id="2exampleRadios1"
                            value="option1" >
                        <label class="form-check-label" for="2exampleRadios1">
                            Lorem ipsum dolor sit amet.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="2exampleRadios" id="2exampleRadios2"
                            value="option2">
                        <label class="form-check-label" for="2exampleRadios2">
                            Lorem, ipsum dolor.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="2exampleRadios" id="2exampleRadios3"
                            value="option3" >
                        <label class="form-check-label" for="2exampleRadios3">
                            Officiis eaque debitis, harum ab nam quibusdam.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="2exampleRadios" id="2exampleRadios4"
                            value="option4">
                        <label class="form-check-label" for="2exampleRadios4">
                            Lorem ipsum dolor sit amet consectetur adipisicing.
                        </label>
                    </div>
                </div>

                <div class="question">
                    <label for="s1">Veritatis eum nobis doloribus soluta porro a totam, deserunt odio expedita
                        sint?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="22exampleRadios" id="22exampleRadios1"
                            value="option1" >
                        <label class="form-check-label" for="22exampleRadios1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo temporibus eius quidem. Omnis
                            facilis sit magni a voluptatum nemo odit.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="22exampleRadios" id="22exampleRadios2"
                            value="option2">
                        <label class="form-check-label" for="22exampleRadios2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, fuga.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="22exampleRadios" id="22exampleRadios3"
                            value="option3" >
                        <label class="form-check-label" for="22exampleRadios3">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="22exampleRadios" id="22exampleRadios4"
                            value="option4">
                        <label class="form-check-label" for="22exampleRadios4">
                            Lorem, ipsum.
                        </label>
                    </div>
                </div>

                <div class="question">
                    <label>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores eos suscipit aliquam
                        sint, iste dolorem. Iure eos animi consectetur facilis mollitia, cumque quidem excepturi ut cum,
                        eveniet nisi sapiente. Ullam dicta blanditiis aspernatur iusto nulla temporibus assumenda.
                        Vitae, accusantium illo.</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>

                <a href="certificate.html" class="btn btn-light submit-btn" class="btn btn-light mb-5"
                    style="background-color: #564d78; color: #fdfdfd;">Submit your answers</a>
            </form>
        </main>

    </div>

</body>

</html>